<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="cascade.css">
</head>
<body ng-app="myapp">
    <div class="cascade-container" ng-controller="mockContrl">
        <div class="cascade-unit" ng-repeat="item in data" ng-click="trigger(item)" ng-class="{'cascade-active' : item.active}">{{item.one}}</div>
        <div class="cascade-container" ng-repeat="item in data" nggit-show="item.show">
            <div class="cascade-unit" ng-repeat="item2 in item.two" id="{{item2.id}}" ng-class="{'cascade-active' : item2.active}" ng-click="trigger2(item2)">{{item2.name}}</div>
        </div>
    </div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
</body>
</html>