.cascade-container {
    margin-top: 10px;
    width: 960px;
    height: 50px;
    background-color: whitesmoke;
}

.cascade-unit {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: gainsboro;
    display: inline-block;
    margin: 10px;
    text-align: center;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.position-fix {
    margin: 10px 5px 10px 10px !important;
}

.cascade-unit:hover {
    background-color: dodgerblue;
    color: white;
}

.cascade-active {
    background-color: dodgerblue;
    color: white;
}

.triangle-icon {
    width:0;
    height:0;
    border-width:10px;
    border-style:solid;
    border-color:#c03 transparent transparent;
    margin-left: 50px;
    display: inline;
}